extends ../layout
block body
  .container
    h1 Presentations
    include ../shared/flash
    table.table.table-striped
      thead
        tr
          th Id
          th Title
          th Level
          th Track
          th User
          th
      tbody
        each pres in presentations
          tr
            td= pres.id
            td= pres.title
            td= pres.level
            td= pres.trackName
            td= pres.userName
            td
              a.btn.btn-primary(href='/presentation/' + pres.id) Show
    p
      a.btn.btn-default(href='/presentation/create') Submit a New Presentation
